.app-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#e4dfdf, #b7b6b8);
}

.main {
  width: 100%;
  max-width: 304px;
}

.empty-field {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 509px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  color: #a7a4a5;
}