.app-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#e4dfdf, #b7b6b8);
}

.main {
  width: 100%;
  max-width: 304px;
}